* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
}

#main-bar {
	display: flex;
}

#site-label {
	flex: 0 0 90px;
	display: flex;
	align-items: center;
}

#site-link {
	flex-grow: 1;
}

#add-button {
	flex: 0 0 120px;
	margin-left: 10px;
}